* {
  margin: 0;
  padding: 0;
}


.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.w-width {
  width: 80%;

}

.h-height {
  height: 100%;
}


.image-paint {

  mix-blend-mode: multiply;




}

.btn-color-change {

  padding: 25px 0px;
  text-align: center;
  font-size: 58px;
  cursor: pointer;
  border-radius: -21px;
  border: none;
}

.btn-color {

  font-size: 17px;
  border: none;
  padding: 37px 42px;
  text-align: center;
  font-size: 75px;
  font-size: 16px;
  margin: 21px 2px;
  cursor: pointer;
  width: 88px !important;
  /* height: 58px; */
  border-radius: 11px;
  border: none;
  background-color: rgba(155, 152, 152, 0.7);

}


.btn-color:active {
  transform: scale(1.1);
  width: 30px;
}

.flex {
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: sticky;

  top: 10px;
  background-color: rgba(79, 78, 78, 0.7);
  width: 100%;
  border-end-end-radius: 10%;
  border-end-end-radius: 10%;
  flex-wrap: wrap;
  margin-bottom: 200px;
  align-items: center;
  height: 20%;


}

.change-car {
  position: absolute;
  left: 80%;
  top: 79px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: bounceAround 3.1s ease-in-out both;
}

.flex::-webkit-scrollbar {
  display: none;
}

.wrap {
  background-image: url(/mid_x3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 9;

}



.car-wrapper {
  position: absolute;
  width: 37%;
  left: 704px;
  top: 782px;

}

.image-car {
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;

  width: 100%;
  background-size: 700px;

}

.image-paint {
  background-repeat: no-repeat;
  background-size: contain;
  height: 99%;


  width: 100%;
  background-size: 700px;




}

.flex-sticker {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 254px;
  left: 31px;
  width: 600px;
  gap: 10px;

}

.sticker-picker {
  position: absolute;
  left: 118px;
  top: 20px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 443px;


}

.btn-color:hover {

  scale: 1.9;


}

.sticker-position {
  position: relative;
  right: 413px;
  top: 137px;
  gap: 17px;
  display: flex;
  flex-direction: column;
  width: 200px;
}


.image-sticker {



  mask-image: url(/car.png);
  -webkit-mask-position: center;
  mask-position: center;
  mask-mode: luminance;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-size: 51px;
  background-repeat: no-repeat;

  width: 64px;
  height: 49px;


}

.button-change {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  top: 59px;
  left: 897px;
  height: 43px;

}

.color-picker {
  position: relative;
  top: 66px;
  left: 29px;


  color: red;
  ;
}


.progress {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #f70909;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: transparent 0 0 5px rgba(0, 0, 0, 1);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  ;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f7f5f5;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #717271;
}


@keyframes bounceAround {

  0% {
    transform: translateY(0);
    width: 30px;
    color: gold
  }

  20% {
    transform: translateY(-60px) rotate(0deg);
    width: 60px;
    color: gold
  }

  25% {
    transform: translateY(20px) rotate(0deg);
    width: 90px;
    color: gold
  }

  55% {
    transform: translateY(0px) rotate(0deg);
    width: 120px;
    color: gold
  }

  60% {
    transform: translateY(-20px) rotate(0deg);
  }

}



.button-change {
  animation: shake 150ms 2 infinite;
  -moz-animation: shake 150ms 2 linear;
  -webkit-animation: shake 150ms 2 linear;
  -o-animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(20px, 0);
  }

  50% {
    transform: translate(-20px, 0);
  }

  100% {
    transform: translate(0, 0);
  }








}


@keyframes shake {
  0% {
    transform: translate(20px, 0);
  }

  50% {
    transform: translate(-20px, 0);
  }

  100% {
    transform: translate(0, 0);
  }








}

@media only screen and (min-width: 1600px) and (max-width: 1439px) {
  .car-wrapper {
    position: absolute;
    width: 40%;
    left: 489px;
    top: 591px;
  }

  .image-car {

    height: 219px;
    width: 105%;
  }

  .image-paint,
  .image-car {
    background-size: 512px
  }

  .change-car {
    left: 90%;
  }


  .button-change {

    left: 45%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1599px) {
  .flex {
    width: 100%;
    height: 30%;
  }

  .change-car {
    left: 87%;
    ;
  }

  .button-change {
    left: 620px;


  }

  .progress {
    width: 334px;
  }

  .car-wrapper {
    width: 52%;
    left: 368px;
    top: 500px;
  }

  .color-picker {
    left: 8%;
  }

  .sticker-picker {

    top: 47px;
  }

  .btn-color {
    background-size: 387px;

  }

  .image-car,
  .image-paint {
    background-size: 635px;
    height: 201px;
  }

}

@media (max-width: 800px) {
  .flex {

    background-color: rgba(79, 78, 78, 0.7);
    width: 100%;
    height: 55%;
  }


  .color-picker {
    left: 91px;
  }

  .change-car {
    left: 500px;
    top: 168px;
    flex-direction: row;
  }

  .button-change {
    left: 432px;
  }

  .sticker-picker {
    left: 0px;
  }

  .sticker-position {
    right: 374px;
    width: 20px;
  }

  .progress {
    width: 200px;
  }

  .car-wrapper {
    width: 67%;
    left: 27%;
    top: 118%;
  }

  .image-car {

    background-size: 387px;
  }

  .image-paint {
    background-size: 387px;

  }

  .wrap {
    aspect-ratio: 16 / 11;
  }
}

@media (max-width: 799px) {

  .flex,
  .car-wrapper {

    display: none;
  }

  .wrap {

    aspect-ratio: 11/22;
  }

  body::before {
    content: " ";
    font-size: 20px;
    font-weight: bold;
    color: #f7f5f5;
    position: absolute;
    top:60%;
    left: 30%;
    background-color: rgba(16, 15, 15, 0.9);
    /* letter-move infinite 3s; */
        animation: animate  infinite 6s ;

    opacity: 0.8;
    padding: 20px;
    border-radius: 20px;


  }

}
@keyframes animate{
  0%{
    content: 'C'
  }
  10%{
    content: 'Co'
    
  }
  20%{
    content: 'Com'
  }
  30%{
    content: 'Comi'
  }
  40%{
    content: 'Comin'
  }
  50%{
    content: 'Coming'
  }
  60%{
    content: 'Coming S'
  }
  70%{
    content: 'Coming So'
  }
  80%{
    content: 'Coming Soo'
  }
  90%{
    content: 'Coming Soon'
  }
  100%{
    content: 'Coming Soon!'
  }
}

/* 
  @keyframes letter-move {
    10% {
      content: " please Use >   700 Screen ";
      -webkit-transform: translateY(0);
      transform: translateY(0);
      color: #f7f5f5;
      text-shadow: none;
    }

    50% {
      content: " please Use >   700 Screen ";

      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      color: gold;
      text-shadow: transparent 0 1px 0 #aaaaaa, 0 2px 0 #aaaaaa, 0 3px 0 #aaaaaa,
        0 4px 0 #aaaaaa, 0 5px 0 #aaaaaa, 0 6px 0 #aaaaaa, 0 7px 0 #aaaaaa,
        0 8px 0 #aaaaaa, 0 9px 0 #aaaaaa, 0 10px 100px rgba(253, 249, 249, 0.3);
    }

    100% {
      content: " please Use >   700 Screen ";

      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      color: black;
      text-shadow: transparent 0 1px 0 #aaaaaa, 0 2px 0 #aaaaaa, 0 3px 0 #aaaaaa,
        0 4px 0 #aaaaaa, 0 5px 0 #aaaaaa, 0 6px 0 #aaaaaa, 0 7px 0 #aaaaaa,
        0 8px 0 #aaaaaa, 0 9px 0 #aaaaaa, 0 10px 100px rgba(253, 249, 249, 0.3);
    }
  } */





  @keyframes drift{
    0% {
      left: -256px;
    }
    100% {
      left: 256px;
    }
  }